<div class="row" style="margin-bottom: 70px;">
    <nav id="colors-nav" class="valign-wrapper white">
        <% Object.keys(colors).forEach(function (color){ %>
            <div class="col s2 center-align" style="line-height: 1rem;">
                <div class="color circle" style="background: <%= colors[color] %>;"
                     onclick="changeColor('<%= color %>')"></div>
                <br>
                <small class="black-text"><%= color %></small>
            </div>
        <% }) %>
    </nav>

    <div class="col s12" id="avatar-select">
        <% Object.keys(avatars).forEach(function (avatar) { %>
            <% var color = avatars[avatar].gender == "M" ? "blue-text" : avatars[avatar].gender == "F" ? "pink-text text-lighten-2" : "black-text"; %>
            <div class="col s6 m4 l3">
                <div class="center-align mini-card valign-wrapper" onclick="setAvatar('<%= avatar %>')">
                    <div>
                        <div class="avatar"
                             style="<%= getAvatar(avatar, "{{APP_SERVICE_PATH}}/images") %> background-color: <%= colors[currentColor] %>;"></div>
                        <p class="<%= color %> text-medium" style="margin: 0 8px"><%= avatars[avatar].caption %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!"
       onclick="apretaste.send({'command': 'PERFIL EDITAR'})"><i
                class="material-icons">arrow_back</i></a>
</div>
