<div class="row" style="margin-top: 2rem">
    <!-- AVATAR -->
    <div class="col s12 person-avatar circle" id="profile-avatar"
         style="margin-bottom: 2rem"
         face="<%= profile.avatar %>"
         color="<%= profile.avatarColor %>"
         size="<%= ($(window).height() / 8) + 8 %>">
        <a id="pic-btn" onclick="apretaste.send({'command':'PERFIL AVATAR'})">
            <i class="material-icons grey-text text-darken-4">edit</i>
        </a>
    </div>

    <div id="edit-fields">
        <!-- USERNAME -->
        <div class="input-field col s12">
            <i class="material-icons prefix grey-text text-darken-2">person</i>
            <input id="username" type="text" value="@<%= profile.username %>" class="validate"/>
            <label for="username">Username</label>
        </div>

        <% if(false){ %>
            <!-- DESCRIPTION -->
            <div class="input-field col s12">
                <i class="material-icons prefix grey-text text-darken-2">account_circle</i>
                <textarea id="about_me" class="materialize-textarea" data-length="200"
                          maxlength="200"><%= profile.aboutMe %></textarea>
                <label for="about_me">Cuéntanos algo sobre ti</label>
            </div>
        <% } %>

        <!-- NAME -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">person</i>
            <input id="first_name" type="text" value="<%= profile.firstName %>" class="validate"/>
            <label for="first_name">Nombre</label>
        </div>

        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">person</i>
            <input id="last_name" type="text" class="validate" value="<%= profile.lastName %>">
            <label for="last_name">Apellido</label>
        </div>

        <!-- GENDER -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">wc</i>
            <select id="gender" class="validate">
                <option value=""></option>
                <% Object.keys(props.gender.values).forEach(function(key){ %>
                    <% var selected = key == profile.gender ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.gender.values[key] %></option>
                <% }) %>
            </select>
            <label for="gender">Género</label>
        </div>

        <!-- SEXUAL ORIENTATION -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">favorite</i>
            <select id="sexual_orientation" class="validate">
                <option value=""></option>
                <% Object.keys(props.sexualOrientation.values).forEach(function(key){ %>
                    <% var selected = key == profile.sexualOrientation ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.sexualOrientation.values[key] %></option>
                <% }) %>
            </select>
            <label for="sexual_orientation">Orientación Sexual</label>
        </div>

        <!-- BIRTH DAY -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">cake</i>
            <select id="day_of_birth" class="validate">
                <option value="">Día</option>
                <% var daysArray = range(1, 31); %>
                <% daysArray.forEach(function(val) { %>
                    <% var selected = val == profile.dayOfBirth ? 'selected' : '' %>
                    <option <%= selected %> value="<%= val %>"><%= val %></option>
                <% }); %>
            </select>
            <label for="day_of_birth">Día de nacimiento</label>
        </div>

        <!-- BIRTH MONTH -->
        <%
        var monthName = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
        var monthNbr = range(1, 12);
        %>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">cake</i>
            <select id="month_of_birth" class="validate">
                <option value="">Mes</option>
                <% for (var i = 0; i < monthNbr.length; i++) { %>
                    <% var selected = monthNbr[i] == profile.monthOfBirth ? 'selected' : '' %>
                    <option <%= selected %> value="<%= monthNbr[i] %>"><%= monthName[i] %></option>
                <% } %>
            </select>
            <label for="month_of_birth">Mes de nacimiento</label>
        </div>

        <!-- BIRTH YEAR -->
        <%
        var currentYear = (new Date()).getFullYear();
        var yearArr = range(currentYear - 100, currentYear - 10);
        %>
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">cake</i>
            <select id="year_of_birth" class="validate">
                <option value="">Año</option>
                <% yearArr.forEach(function(val) { %>
                    <% var selected = val == profile.yearOfBirth ? 'selected' : '' %>
                    <option <%= selected %> value="<%= val %>"><%= val %></option>
                <% }); %>
            </select>
            <label for="year_of_birth">Año de nacimiento</label>
        </div>

        <!-- BODY TYPE -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">face</i>
            <select id="body_type" class="validate">
                <option value=""></option>
                <% Object.keys(props.body.values).forEach(function(key){ %>
                    <% var selected = key == profile.body ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.body.values[key] %></option>
                <% }) %>
            </select>
            <label for="body_type">Cuerpo</label>
        </div>

        <!-- EYES -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">face</i>
            <select id="eyes" class="validate">
                <option value=""></option>
                <% Object.keys(props.eyes.values).forEach(function(key){ %>
                    <% var selected = key == profile.eyes ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.eyes.values[key] %></option>
                <% }) %>
            </select>
            <label for="eyes">Ojos</label>
        </div>

        <!-- HAIR -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">face</i>
            <select id="hair" class="validate">
                <option value=""></option>
                <% Object.keys(props.hair.values).forEach(function(key){ %>
                    <% var selected = key == profile.hair ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.hair.values[key] %></option>
                <% }) %>
            </select>
            <label for="hair">Cabello</label>
        </div>

        <!-- SKIN -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">face</i>
            <select id="skin" class="validate">
                <option value=""></option>
                <% Object.keys(props.skin.values).forEach(function(key){ %>
                    <% var selected = key == profile.skin ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.skin.values[key] %></option>
                <% }) %>
            </select>
            <label for="skin">Piel</label>
        </div>

        <!-- MARITAL STATUS -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">favorite</i>
            <select id="marital_status" class="validate">
                <option value=""></option>
                <% Object.keys(props.maritalStatus.values).forEach(function(key){ %>
                    <% var selected = key == profile.maritalStatus ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.maritalStatus.values[key] %></option>
                <% }) %>
            </select>
            <label for="marital_status">Estado Civil</label>
        </div>

        <!-- HIGHEST SCHOOL LEVEL-->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">school</i>
            <select id="highest_school_level" class="validate">
                <option value=""></option>
                <% Object.keys(props.education.values).forEach(function(key){ %>
                    <% var selected = key == profile.education ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.education.values[key] %></option>
                <% }) %>
            </select>
            <label for="highest_school_level">Nivel Educativo</label>
        </div>

        <!-- OCCUPATION -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">business_center</i>
            <select id="occupation" class="validate">
                <option value=""></option>
                <% Object.keys(props.occupation.values).forEach(function(key){ %>
                    <% var selected = key == profile.occupation ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.occupation.values[key] %></option>
                <% }) %>
            </select>
            <label for="occupation">Ocupación</label>
        </div>

        <!-- PROVINCE-->
        <div class="input-field province-div col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2">place</i>
            <select id="province" class="validate">
                <option value=""></option>
                <% Object.keys(props.province.values).forEach(function(key){ %>
                    <% var selected = props.province.values[key] == profile.province ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.province.values[key] %></option>
                <% }) %>
            </select>
            <label for="province">Provincia</label>
        </div>

        <!-- RELIGION -->
        <div class="input-field col s12 m6">
            <i class="material-icons prefix grey-text text-darken-2"> flare </i>
            <select id="religion" class="validate">
                <option value=""></option>
                <% Object.keys(props.religion.values).forEach(function(key) { %>
                    <% var selected = key == profile.religion ? 'selected' : '' %>
                    <option <%= selected %> value="<%= key %>"><%= props.religion.values[key] %></option>
                <% }) %>
            </select>
            <label for="religion">Religión</label>
        </div>

        <% if(typeof profile.phone != "undefined"){ %>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix grey-text text-darken-2">phone</i>
                <input value="<%= profile.phone %>" id="cellphone" type="tel" maxlength="10" class="validate">
                <label for="cellphone">Celular</label>
            </div>
        <% } %>

        <% if(false){ %>
            <div class="input-field col s12">
                <i class="material-icons prefix grey-text text-darken-2">description</i>
                <div class="chips chips-initial left-align" id="interests"></div>
                <label for="interests" style="top:-20px">Intereses</label>
            </div>
        <% } %>
    </div>

    <div class="col s12">
        <!-- SAVE BUTTON -->
        <div class="bottom-space"></div>
        <div id="btn" class="fixed-action-btn">
            <a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back()">
                <i class="material-icons">arrow_back</i>
            </a>
            <a class="btn-floating btn-large waves-effect waves-light green" onclick="submitProfileData()">
                <i class="material-icons">save</i>
            </a>
        </div>
    </div>
</div>
