<div id="gallery" style="margin-top: 2rem">
	<!-- List gallery items -->
	<% images.forEach(function (image) { %>
		<div class="col s6 m4 galleryImage">
			<!-- image -->
			<% var src = '{{APP_IMAGE_PATH}}/' + image.file %>
			<img src="<%= src %>" onclick="apretaste.showImage('<%= src %>')">

			<!-- actions -->
			<% if(ownProfile){ %>
				<div class="action-bar">
					<% if(image.default == 1) { %>
						<span class="fa-stack">
							<i class="fas fa-circle grey-text fa-stack-2x"></i>
							<i class="fas fa-star fa-stack-1x yellow-text"></i>
						</span>
					<% } else { %>
						<span class="fa-stack" onclick="selectDefaultImage('<%= image.id %>', this)">
							<i class="fas fa-circle grey-text fa-stack-2x"></i>
							<i class="fas fa-star fa-stack-1x"></i>
						</span>

						<span class="fa-stack trash" onclick="deleteImage('<%= image.id %>', this)">
							<i class="fas fa-circle grey-text fa-stack-2x"></i>
							<i class="fas fa-trash fa-stack-1x"></i>
						</span>
					<% } %>
				</div>
			<% } else {%>
				<span class="fa-stack trash" onclick="sendImageToChat(<%= image.id %>)">
					<i class="fas fa-comments grey-text fa-stack-2x"></i>
				</span>
			<% } %>
		</div>
	<% }) %>

	<!-- If no images -->
	<% if(images.length == 0){ %>
		<div class="col s12 center-align">
			<h1>¡Oops!</h1>
			<i class="large material-icons">sentiment_very_dissatisfied</i>
			<p style="margin:10px 0;">La galería de imágenes se encuentra vacía.</p>
		</div>
	<% } %>
</div>

<!-- Buttons -->

<% if(ownProfile){ %>
	<input id="picturefield" type="file" class="hide"/>

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light" href="#!"
		   onclick="uploadPicture()"><i class="fa fa-cloud-upload-alt"></i></a>
	</div>
<% } %>


<div id="newCommentModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="comment" class="materialize-textarea" oninput="remainder()"></textarea>
			<label for="comment">Mensaje privado (<span id="remainder">0</span>/250)</label>
		</div>
	</div>
	<div class="modal-footer">
		<a onclick="hideKeyboard()" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="sendComment()" class="modal-close waves-effect waves-green btn-flat green-text">Comentar</a>
	</div>
</div>
