<div class="col s12">
    <ul class="collection profile">
        <li class="collection-item avatar">
            <div class="person-avatar circle" face="<%= profile.avatar %>" color="<%= profile.avatarColor %>" size="45"
                 online="<%= profile.online %>"></div>
            <span class="title <%= profile.gender %>">@<%= profile.username %></span>

            <br>
            <span class="chip tiny clear" style="font-size: 1rem">
                <i class="fa fa-user-friends"></i>
                <%= profile.friendList.length %>
            </span>
            &nbsp;
            <span class="chip tiny clear" style="font-size: 1rem">
                <i class="fa fa-trophy"></i>
                <%= profile.ranking %>
            </span>

            <!--p class="valign-wrapper grey-text text-darken-1">
                <i class="material-icons" style="font-size: 1.2rem">people</i> <%= profile.friendList.length %>
            </p-->

            <% if(ownProfile){ %>
                <a href="#!" class="secondary-content green-text first"
                   onclick="openEditProfile()"><i class="material-icons">edit</i></a>
            <% } else if(type == 'friends') { %>
                <a onclick="pizarraSearch()" class="secondary-content green-text first">
                    <i class="material-icons">assignment</i>
                </a>
                <a onclick="openChat()" class="secondary-content green-text second">
                    <i class="material-icons">chat</i>
                </a>
            <% } else { %>
                <a onclick="addFriendModalOpen()" class="secondary-content green-text first">
                    <i class="material-icons">person_add</i>
                </a>
                <a onclick="pizarraSearch()" class="secondary-content green-text second">
                    <i class="material-icons">assignment</i>
                </a>
            <% } %>
        </li>
    </ul>
</div>

<% var userLevel = getUserLevel(profile.experience) %>
<div class="col s2 m1 right-align">
    <img src="{{APP_SERVICE_PATH}}/images/<%= userLevel.img %>" class="gem">
</div>
<div class="col s10 m11" style="height: 38px">
        <span>
            <b>
                <span class="chip tiny clear" style="font-size: 1rem">
                    <i class="fa fa-bolt"></i>
                    <%= profile.experience %>
                    <%= userLevel.name %>
                </span>
            </b>
            <% if(ownProfile){ %>
                <i
                        class="right far fa-question-circle"
                        style="color: <%= userLevel.titleColor %>"
                        onclick="openLevelsHelp()"
                ></i>
            <% } %>
        </span>
    <div class="progress" style="margin: 2px 0; background-color: lightgray;">
        <div class="determinate"
             style="width: <%= userLevel.percent %>%; background-color: <%= userLevel.color %>"></div>
    </div>
</div>

<div class="col s12">
    <p> <%= profile.aboutMe %></p>
    <ul class="collection one-line" id="profile-props">
        <% Object.keys(props).forEach(function(prop) { %>
            <!-- TODO use in future, delete false condition -->
            <% if(false && profile[prop] != null && profile[prop].trim() != ''){ %>
                <li class="collection-item avatar">
                    <i class="tiny material-icons circle"><%= props[prop].icon %></i>
                    <span class="title"><%= getReadableProp(prop) %></span>
                    <p class="grey-text"><%= props[prop].caption %></p>
                </li>
            <% } %>
        <% }) %>
    </ul>
</div>

<div id="addFriendModal" class="modal">
    <div class="modal-content">
        <p>¿Agregar a <b class="username">@<%= profile.username %></b> a sus amigos?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="addFriend()" class="waves-effect waves-green btn-flat green-text modal-close">Agregar</a>
    </div>
</div>