<div class="col s12">
    <ul class="collection profile">
        <li class="collection-item avatar">
            <div class="person-avatar circle" face="<%= profile.avatar %>" color="<%= profile.avatarColor %>" size="45"
                 online="<%= profile.online %>"></div>
            <span class="title <%= profile.gender %>">@<%= profile.username %></span>

            <br>
            <span class="chip tiny clear" style="font-size: 1rem">
                <i class="fa fa-user-friends"></i>
                <%= profile.friendList.length %>
            </span>
            &nbsp;
            <span class="chip tiny clear" style="font-size: 1rem">
                <i class="fa fa-trophy"></i>
                #<%= profile.ranking %>
            </span>

            <div class="actions">
                <% if(ownProfile){ %>
                    <a href="#!" class="secondary-content green-text first"
                       onclick="openEditProfile()"><i class="material-icons">edit</i></a>
                <% } else if(type == 'friends') { %>
                    <a onclick="pizarraSearch()" class="secondary-content green-text first">
                        <i class="material-icons">assignment</i>
                    </a>
                    <a onclick="openChat()" class="secondary-content green-text second">
                        <i class="material-icons">chat</i>
                    </a>
                <% } else if(type == 'waitingForMe') { %>
                    <a class="secondary-content green-text first">
                        <i class="material-icons red-text"
                           onclick="rejectModalOpen('<%= profile.id %>', '<%= profile.username %>')">
                            delete
                        </i>
                    </a>
                    <a class="secondary-content green-text second">
                        <i class="material-icons"
                           onclick="acceptModalOpen('<%= profile.id %>', '<%= profile.username %>')">
                            person_add
                        </i>
                    </a>
                <% }else if(type == 'waiting') { %>
                    <a class="secondary-content green-text first">
                        <i class="material-icons red-text"
                           onclick="cancelRequestModalOpen('<%= profile.id %>', '<%= profile.username %>')">
                            delete
                        </i>
                    </a>

                    <a onclick="pizarraSearch()" class="secondary-content green-text second">
                        <i class="material-icons">assignment</i>
                    </a>
                <% } else { %>
                    <a onclick="addFriendModalOpen()" class="secondary-content green-text first">
                        <i class="material-icons">person_add</i>
                    </a>
                    <a onclick="pizarraSearch()" class="secondary-content green-text second">
                        <i class="material-icons">assignment</i>
                    </a>
                <% } %>
            </div>
        </li>
    </ul>
</div>

<% var userLevel = getUserLevel(profile.experience) %>
<div class="col s12">
    <img src="{{APP_SERVICE_PATH}}/images/<%= userLevel.img %>" class="gem">
    <div style="height: 38px; display: inline-block; width: calc(100% - 42px); margin-left: 5px;">
        <span>
            <b>
                <span class="chip tiny clear" style="font-size: 1rem">
                    <i class="fa fa-bolt"></i>
                    <%= profile.experience %>
                    <%= userLevel.name %>
                </span>
            </b>
            <% if(ownProfile){ %>
                <i
                        class="right far fa-question-circle"
                        style="color: <%= userLevel.titleColor %>"
                        onclick="openLevelsHelp()"
                ></i>
            <% } %>
        </span>
        <div class="progress" style="margin: 2px 0; background-color: lightgray;">
            <div class="determinate"
                 style="width: <%= userLevel.percent %>%; background-color: <%= userLevel.color %>"></div>
        </div>
    </div>
</div>

<div class="col s12">
    <p> <%= profile.aboutMe %></p>
    <ul class="collection one-line" id="profile-props">
        <% Object.keys(props).forEach(function(prop) { %>
            <!-- TODO use in future, delete false condition -->
            <% if(false && profile[prop] != null && profile[prop].trim() != ''){ %>
                <li class="collection-item avatar">
                    <i class="tiny material-icons circle"><%= props[prop].icon %></i>
                    <span class="title"><%= getReadableProp(prop) %></span>
                    <p class="grey-text"><%= props[prop].caption %></p>
                </li>
            <% } %>
        <% }) %>
    </ul>
</div>

<div id="addFriendModal" class="modal">
    <div class="modal-content">
        <p>¿Agregar a <b class="username">@<%= profile.username %></b> a sus amigos?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="addFriend()" class="waves-effect waves-green btn-flat green-text modal-close">Agregar</a>
    </div>
</div>

<div id="acceptFriendModal" class="modal">
    <div class="modal-content">
        <p>¿Aceptar solicitud de amistad de <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="addFriend('Solicitud aceptada')" class="waves-effect waves-green btn-flat green-text modal-close">Aceptar</a>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>¿Esta seguro de eliminar a <b class="username">@amigo</b> de sus amigos?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="deleteFriend()" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Eliminar</a>
    </div>
</div>

<div id="rejectModal" class="modal">
    <div class="modal-content">
        <p>¿Rechazar solicitud de amistad de <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="rejectFriend('Solicitud rechazada')" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Rechazar</a>
    </div>
</div>

<div id="cancelRequestModal" class="modal">
    <div class="modal-content">
        <p>¿Cancelar solicitud de amistad para <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Atrás</a>
        <a onclick="rejectFriend('Solicitud cancelada')" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Cancelar solicitud</a>
    </div>
</div>


<div id="blockModal" class="modal">
    <div class="modal-content">
        <p>¿Esta segúro de bloquear a <b class="username">@username</b>?</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="blockUser()" class="modal-close waves-effect waves-red btn-flat red-text"
           style="font-weight: 500">Bloquear</a>
    </div>
</div>