<div class="row">
	<div class="img-wrap">
		<%if(profile.picture!=""){%>
		<img class="fullscreen" id="pic" src="{{APP_IMAGE_PATH}}<%=profile.picture%>">
		<%}else{%>
		<img src="{{APP_RESOURCES}}/image/user.jpg">
		<%}%>
	</div>
	<a class="btn-floating btn-large waves-effect waves-light green fab-align right" id="uploadPhoto">
		<i class="material-icons">photo_camera</i>
		<input type="file" id="picture" accept="image/*">
	</a>

	<form class="center-align">
		<div class="row">
			<div class="input-field col s12 m6">
				<input id="first_name" type="text" class="validate" value="<%=profile.first_name%>">
				<label for="first_name">Nombre</label>
			</div>
			<div class="input-field col s12 m6">
				<input id="last_name" type="text" class="validate" value="<%=profile.last_name%>">
				<label for="last_name">Apellido</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<input value="@<%=profile.username%>" id="username" type="text" class="validate">
				<label for="username">Username</label>
			</div>
			<div class="input-field col s12 m6">
				<input type="text" class="datepicker" id="date_of_birth">
				<label for="date_of_birth">Cumpleaños</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select id="gender">
					<option value="M">Masculino</option>
					<option value="F">Femenino</option>
				</select>
				<label>Sexo</label>
			</div>
			<div class="input-field col s12 m6">
				<select id="sexual_orientation">
					<option value="HETERO">Hetero</option>
					<option value="HOMO">Homo</option>
					<option value="BI">Bi</option>
				</select>
				<label>Orientación Sexual</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select id="marital_status">
					<option value="" disabled selected></option>
					<option value="SOLTERO">Soltero</option>
					<option value="SALIENDO">Saliendo</option>
					<option value="COMPROMETIDO">Comprometido</option>
					<option value="CASADO">Casado</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>Estado Civil</label>
			</div>
			<div class="input-field col s12 m6">
				<select id="religion">
					<option value="" disabled selected></option>
					<option value="CRISTIANISMO">Cristianismo</option>
					<option value="CATOLICISMO">Catolicismo</option>
					<option value="YORUBA">Yoruba</option>
					<option value="PROTESTANTE">Protestante</option>
					<option value="SANTERO">Santero</option>
					<option value="ABAKUA">Abakua</option>
					<option value="BUDISMO">Budismo</option>
					<option value="ISLAM">Islam</option>
					<option value="ATEISMO">Ateismo</option>
					<option value="AGNOSTICISMO">Agnosticismo</option>
					<option value="SECULARISMO">Secularismo</option>
					<option value="OTRA">Otra</option>
				</select>
				<label>Religión</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m4">
				<select id="country" class="input">
					<option value="" disabled selected></option>
					<option value="CU">Cuba</option>
					<option value="US">Estados Unidos</option>
					<option value="ES">España</option>
					<option value="IT">Italia</option>
					<option value="MX">Mexico</option>
					<option value="BR">Brasil</option>
					<option value="EC">Ecuador</option>
					<option value="CA">Canada</option>
					<option value="VE">Venezuela</option>
					<option value="AL">Alemania</option>
					<option value="CO">Colombia</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>País</label>
			</div>
			<div id="province-section" class="input-field col s12 m4">
				<select id="province" class="input">
					<option value="" disabled selected></option>
				</select>
				<label>Provincia</label>
			</div>
			<div id="usstate-section" class="input-field col s12 m4">
				<select id="usstate" class="input">
					<option value="" disabled selected></option>
				</select>
				<label>Estado</label>
			</div>
			<div class="input-field col s12 m4">
					<input id="city" type="text" class="validate" value="<%=profile.city%>">
					<label for="city">Ciudad</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select id="body_type">
					<option value="" disabled selected></option>
					<option value="DELGADO">Delgado</option>
					<option value="MEDIO">Medio</option>
					<option value="EXTRA">Extra</option>
					<option value="ATLETICO">Atletico</option>
				</select>
				<label>Cuerpo</label>
			</div>
			<div class="input-field col s12 m6">
				<select id="eyes">
					<option value="" disabled selected></option>
					<option value="NEGRO">Negro</option>
					<option value="VERDE">Verde</option>
					<option value="AZUL">Azul</option>
					<option value="CARMELITA">Carmelita</option>
					<option value="AVELLANA">Avellana</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>Ojos</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select id="hair">
					<option value="" disabled selected></option>
					<option value="NEGRO">Negro</option>
					<option value="CASTANO">Castaño</option>
					<option value="RUBIO">Rubio</option>
					<option value="TRIGUENO">Trigueño</option>
					<option value="ROJO">Rojo</option>
					<option value="BLANCO">Blanco</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>Cabello</label>
			</div>
			<div class="input-field col s12 m6">
				<select id="skin">
					<option value="" disabled selected></option>
					<option value="BLANCO">Blanco</option>
					<option value="NEGRO">Negro</option>
					<option value="MESTIZO">Moreno</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>Tono de Piel</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12 m6">
				<select id="highest_school_level">
					<option value="" disabled selected></option>
					<option value="PRIMARIO">Primario</option>
					<option value="SECUNDARIO">Secundario</option>
					<option value="TECNICO">T&eacute;cnico</option>
					<option value="UNIVERSITARIO">Universitario</option>
					<option value="POSTGRADUADO">Postgraduado</option>
					<option value="DOCTORADO">Doctorado</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>Nivel educativo</label>
			</div>
			<div class="input-field col s12 m6">
				<select id="occupation">
					<option value="" disabled selected></option>
					<option value="TRABAJADOR ESTATAL">Trabajador estatal</option>
					<option value="CUENTAPROPISTA">Cuentapropista</option>
					<option value="ESTUDIANTE">Estudiante</option>
					<option value="AMA DE CASA">Ama de casa</option>
					<option value="DESEMPLEADO">Desempleado</option>
					<option value="OTRO">Otro</option>
				</select>
				<label>Ocupación</label>
			</div>
		</div>
		<p><b>Sus intereses</b></p>
		<div class="row">
			<div class="input-field">
				<div class="chips chips-initial left-align" id="interests"></div>
			</div>
		</div>
		<p><b>¿Como conoció la app?</b></p>
		<div class="row">
			<div class="input-field col s12">
				<select id='origin'>
					<option value="" disabled selected>Escoja su opción</option>
					<%origins.forEach((origin) => {%>
					<option value="<%=origin%>"><%=origin%></option>
					<%});%>
				</select>
				<label>&iquest;C&oacute;mo conoci&oacute;n la app?</label>
			</div>
		</div>
	</form>
	<div class="row center-align">
		<div class="fixed-action-btn hide-on-med-and-up">
			<a class="btn-floating btn-large waves-effect waves-light text-green save floating-action">
				<i class="large material-icons">save</i>
			</a>
		</div>
		<a class="btn-floating btn-large waves-effect waves-light text-green hide-on-small-only save"><i class="material-icons">save</i></a>
	</div>
</div>