<div class="row">
    <div class="col s12 m12">
        <div class="img-wrap">
            <% if(profile.picture != ""){ %>
            <img class="fullscreen" id="pic" src="{{APP_IMAGE_PATH}}<%= profile.picture %>">
            <% }else{ %>
            <img src="{{APP_RESOURCES}}/image/user.jpg">
            <% } %>
        </div>
        <% if(ownProfile){ %>

        <a class="btn-floating btn-large waves-effect waves-light green fab-align right" id="editar">
            <i class="material-icons">edit</i>
        </a>
        <% }else{ %>
        <a class="btn-floating btn-large waves-effect waves-light green fab-align right link-simple" onclick="  apretaste.send({command: 'CHAT',data: {userId: '<%=profile.username%>'}});">
            <i class="material-icons">message</i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light green fab-align right" id="bloquear">
            <i class="material-icons">block</i>
        </a>

        <% } %>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">

        <% name = (profile.first_name == "") ? '@' + profile.username : profile.first_name %>
        <p>
            <%= name %> &nbsp;<b>&middot;</b>&nbsp;
            <% if (profile.age != ""){ %>
            <%= profile.age %> años
            &nbsp;<b>&middot;</b>&nbsp;
            <% } %>
            <img class="flag" src="{{APP_RESOURCES}}/images/flags/<%= profile.country.toLowerCase() %>.png"/>
            <%= profile.location %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">

        <p>
            <%= profile.about_me %>
        </p>
    </div>
</div>
<div class="row">
    <div class="col s12 m12">

        <% profile.interests.forEach(function(interest){ %>
        <div class="chip">
            <%= interest %>
        </div>
        <% }); %>
        <% if(ownProfile){ %>
        <ul class="collection">
            <li class="collection-item">Credito:
                <%= profile.credit %><a id="credito" class="secondary-content text-green"><i
                            class="material-icons">arrow_forward</i></a></li>
            <li class="collection-item">Tickets para la rifa:
                <%= tickets %><a id="rifa" class="secondary-content text-green"><i class="material-icons">add</i></a>
            </li>
        </ul>
        <% } %>
    </div>
</div>