<% 
	var isDisabled = !isMyOwnProfile ? "disabled" : "";
	var colSize = isDisabled ? "s6" : "s12 m6";
	if(!isMyOwnProfile) {
%>
	<style>
		.caret, label {
			display: none;
		}

		.input-field {
			margin: 0;
		}

		.input-field input{
			background-color: white !important;
		}

		textarea {
			margin-bottom: 0;
		}
	</style>
<% } %>

<div id="img-pre" class="green apretaste"></div>

<!-- PICTURE -->
<% 
	if (profile.picture) var src = "{{APP_IMAGE_PATH}}" + profile.picture;
	else var src = "{{APP_RESOURCES}}/images/user.jpg"; 
%>
<div id="profile-rounded-img" class="circle" style="background-image: url(<%= src %>);">
	<!-- EDIT PIC AND HEART BUTTON -->
	<% if(isMyOwnProfile){ %>
		<input <%= isDisabled %> id="picturefield" type="file" class="hide"/>
		<a class="btn-floating white" id="picture-upload-btn" onclick="uploadPicture()"><i class="material-icons grey-text text-darken-4">camera_alt</i></a>
	<% } %>
</div>

<div class="row">
	<div class="row" id="edit-fields">
		<!-- USERNAME -->
		<div class="input-field col s12 center-align">
			<input <%= isDisabled %> id="username" type="text" value="@<%= profile.username %>" class="validate"/>
			<label for="username">Nombre de usuario</label>
		</div>

		<!-- DESCRIPTION -->
		<div class="input-field col s12">
			<i class="material-icons prefix grey-text text-darken-2">account_circle</i>
			<textarea <%= isDisabled %> id="about_me" maxlength="200" type="text"
										class="materialize-textarea validate"><%= profile.about_me %></textarea>
			<label for="about_me">Cuéntanos algo sobre ti</label>
		</div>

		<!-- NAME -->
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.first_name == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">person</i>
			<input <%= isDisabled %> id="first_name" type="text" value="<%= profile.first_name %>" class="validate"/>
			<label for="first_name">Nombre</label>
		</div>

		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.last_name == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">person</i>
			<input id="last_name" type="text" class="validate" <%= isDisabled %> value="<%= profile.last_name %>">
			<label for="last_name">Apellido</label>
		</div>

		<!-- GENDER -->
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.gender == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">wc</i>
			<select <%= isDisabled %> id="gender" class="validate">
				<option value=""></option>
				<option value="M" <% if(profile.gender == 'M'){ %>selected<% } %>>Hombre</option>
				<option value="F" <% if(profile.gender == 'F'){ %>selected<% } %>>Mujer</option>
			</select>
			<label for="gender">Sexo</label>
		</div>

		<!-- SEXUAL ORIENTATION -->
		<% var orientation = ["HETERO", "HOMO", "BI"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.sexual_orientation == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">favorite</i>
			<select <%= isDisabled %> id="sexual_orientation" class="validate">
				<option value=""></option>
				<% orientation.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.sexual_orientation){ %>selected
							<% } %>
					><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="sexual_orientation">Orientación Sexual</label>
		</div>

		<!-- BIRTH DAY -->
		<% var daysArray = range(1, 31); %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.day_of_birth == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">cake</i>
			<select id="day_of_birth" <%= isDisabled %> class="validate">
				<option value="">Día</option>
				<% daysArray.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.day_of_birth){ %>selected<% } %>><%= val %></option>
				<% }); %>
			</select>
			<label for="day_of_birth">Día de nacimiento</label>
		</div>

		<!-- BIRTH MONTH -->
		<%
			var monthName = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
			var monthNbr = range(1, 12);
		%>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.month_of_birth == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">cake</i>
			<select id="month_of_birth" <%= isDisabled %> class="validate">
				<option value="">Mes</option>
				<% for (var i=0; i<monthNbr.length; i++) { %>
					<option value="<%= monthNbr[i] %>" <% if(monthNbr[i] == profile.month_of_birth){ %>selected<% } %>><%= monthName[i] %></option>
				<% } %>
			</select>
			<label for="month_of_birth">Mes de nacimiento</label>
		</div>

		<!-- BIRTH YEAR -->
		<%
			var currentYear = (new Date()).getFullYear();
			var yearArr = range(currentYear-100, currentYear-10);
		%>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.year_of_birth == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">cake</i>
			<select id="year_of_birth" <%= isDisabled %> class="validate">
				<option value="">Año</option>
				<% yearArr.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.year_of_birth){ %>selected<% } %>><%= val %></option>
				<% }); %>
			</select>
			<label for="year_of_birth">Año de nacimiento</label>
		</div>

		<!-- BODY TYPE -->
		<% var body_type = ["DELGADO", "MEDIO", "EXTRA", "ATLETICO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.body_type == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">face</i>
			<select <%= isDisabled %> id="body_type" class="validate">
				<option value="" selected></option>
				<% body_type.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.body_type){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="body_type">Cuerpo</label>
		</div>

		<!-- EYES -->
		<% var eyes = ["NEGRO", "CARMELITA", "VERDE", "AZUL", "AVELLANA", "OTRO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.eyes == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">face</i>
			<select <%= isDisabled %> id="eyes" class="validate">
				<option value=""></option>
				<% eyes.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.eyes){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="eyes">Ojos</label>
		</div>

		<!-- HAIR -->
		<% var hair = ["TRIGUENO", "CASTANO", "RUBIO", "NEGRO", "ROJO", "BLANCO", "OTRO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.hair == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">face</i>
			<select <%= isDisabled %> id="hair" class="validate">
				<option value=""></option>
				<% hair.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.hair){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="hair">Cabello</label>
		</div>

		<!-- SKIN -->
		<% var skin = ["BLANCO", "NEGRO", "MESTIZO", "OTRO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.skin == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">face</i>
			<select <%= isDisabled %> id="skin" class="validate">
				<option value=""></option>
				<% skin.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.skin){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="skin">Piel</label>
		</div>

		<!-- MARITAL STATUS -->
		<% var marital_status = ["SOLTERO", "SALIENDO", "COMPROMETIDO", "CASADO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.marital_status == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">favorite</i>
			<select <%= isDisabled %> id="marital_status" class="validate">
				<option value=""></option>
				<% marital_status.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.marital_status){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="marital_status">Estado Civil</label>
		</div>

		<!-- HIGHEST SCHOOL LEVEL-->
		<% var highest_school_level = ["PRIMARIO", "SECUNDARIO", "TECNICO", "UNIVERSITARIO", "POSTGRADUADO", "DOCTORADO", "OTRO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.highest_school_level == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">school</i>
			<select <%= isDisabled %> id="highest_school_level" class="validate">
				<option value=""></option>
				<% highest_school_level.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.highest_school_level){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="highest_school_level">Nivel Educativo</label>
		</div>

		<!-- OCCUPATION -->
		<% var profesion = ["TRABAJADOR ESTATAL", "CUENTAPROPISTA", "ESTUDIANTE", "AMA DE CASA", "DESEMPLEADO", "OTRO"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.occupation == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">business_center</i>
			<select <%= isDisabled %> id="occupation" class="validate">
				<option value=""><%= profesion.indexOf(profile.occupation) == -1 ? profile.occupation : "" %></option>
				<% profesion.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.occupation.toUpperCase()){ %>selected<% } %>><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="occupation">Ocupación</label>
		</div>

		<!-- COUNTRY -->
		<div class="input-field col <%= colSize %>">
			<i class="material-icons prefix grey-text text-darken-2">place</i>
			<select <%= isDisabled %> id="country" class="validate" onchange="showStateOrProvince()">
				<option value=""></option>
				<% getCountries().forEach(function(country) { %>
					<option value="<%= country.code %>" <% if(profile.country == country.code){ %>selected<% } %>><%= country.name %></option>
				<% }); %>
			</select>
			<label for="country">País</label>
		</div>

		<!-- PROVINCE-->
		<div class="input-field province-div col <%= colSize %> <%= !isMyOwnProfile && profile.province == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">place</i>
			<select <%= isDisabled %> id="province" class="validate">
				<option value=""></option>
				<% Object.keys(province).forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.province){ %>selected
							<% } %>
					><%= province[val] %></option>
				<% }); %>
			</select>
			<label for="province">Provincia</label>
		</div>

		<!-- CITY -->
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.city == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">place</i>
			<input <%= isDisabled %> id="city" type="text" value="<%= profile.city %>" class="validate"/>
			<label for="city">¿En que ciudad o pueblo vives?</label>
		</div>

		<!-- RELIGION -->
		<% var religion = ["CRISTIANISMO", "CATOLICISMO", "YORUBA", "PROTESTANTE", "SANTERO", "ABAKUA", "BUDISMO", "ISLAM", "ATEISMO", "AGNOSTICISMO", "SECULARISMO", "OTRA"] %>
		<div class="input-field col <%= colSize %> <%= !isMyOwnProfile && profile.religion == "" ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">flare</i>
			<select <%= isDisabled %> id="religion" class="validate">
				<option value=""></option>
				<% religion.forEach(function(val) { %>
					<option value="<%= val %>" <% if(val == profile.religion){ %>selected
							<% } %>
					><%= val.firstUpper() %></option>
				<% }); %>
			</select>
			<label for="religion">Religión</label>
		</div>

		<%if(typeof profile.cellphone != "undefined"){%>
		<div class="input-field col <%=colSize%> <%= !isMyOwnProfile ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">phone</i>
			<input value="<%=profile.cellphone%>" id="cellphone" type="tel" maxlength="10" class="validate">
			<label for="cellphone">Celular</label>
		</div>
		<%}%>

		<div class="input-field col s12 <%= !isMyOwnProfile ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">description</i>
			<div class="chips chips-initial left-align" id="interests"></div>
			<label for="interests" style="top:-12px">Intereses</label>
		</div>

		<div class="col 12 center-align <%= isMyOwnProfile ? "hide" : "" %>">
			<% profile.interests.forEach(function(interest){ %>
				<div class="chip">
					<%= interest %>
				</div>
			<% }); %>
		</div>

		<div class="input-field col s12 <%= !isMyOwnProfile ? "hide" : "" %>">
			<i class="material-icons prefix grey-text text-darken-2">label</i>
			<select id='origin'>
				<option value="" disabled selected>Escoja su opción</option>
				<% origins.forEach(function(origin){ %>
				<option value="<%= origin %>" <% if(origin == profile.origin){ %>selected
						<% } %>
				><%= origin %></option>
				<% }); %>
			</select>
			<label for="origin">¿Cómo conoció la app?</label>
		</div>
	</div>

	<!-- SAVE BUTTON -->
	<% if(isMyOwnProfile) { %>
		<div class="row">
			<div class="col s12">
				<ul class="collection" style="border: none">
					<li class="collection-item">Crédito: <%= profile.credit %><a onclick="apretaste.send({'command':'CREDITO'})" id="credito" class="secondary-content"><i class="material-icons">arrow_forward</i></a></li>
					<li class="collection-item">Tickets para la rifa: <%= tickets %><a onclick="apretaste.send({'command':'RIFA'})" id="rifa" class="secondary-content"><i class="material-icons">add</i></a></li>
				</ul>
			</div>
		</div>
		<div class="bottom-space"></div>

		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light" href="#!" onclick="submitProfileData()"><i class="material-icons">save</i></a>
		</div>
	<% } else { %>
		<div class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light fab-align right link-simple" onclick="apretaste.send({command: 'CHAT',data: {userId: '<%= profile.username %>'}});">
				<i class="material-icons">message</i>
			</a>
		</div>
		<div class="bottom-space"></div>
	<% } %>
</div>